@charset "utf-8";
/* CSS Document */

/* Statti Color CSS v1.0 by Angelo Mazzilli */
/* http://themeforest.net/user/AngeloM */


/* Sections About */
.section#about, .section-about i.active {
	background: rgb(22, 139, 57);
}

/* Sections Services */
.section#services, .section-services i.active {
	background: rgb(27, 116, 53);
}

/* Sections Portfolio */
.section#folio, .section-folio i.active, .item .item-detail {
	background: rgb(22, 139, 57);
}

/* Sections Blog */
.section#blog, .section-blog i.active, #blog .item .item-detail {
	background: rgb(6, 170, 55);
}

/* Sections Contact */
.section#contact, .section-contact i.active {
	background: rgb(8, 124, 47);
}